{% extends "manager_navigation.html" %}

{% block title %}Редактирование комиссии{% endblock title %}

{% block style %}{% endblock style %}

{% block content %}
<div class="container">
    <h2>Редактирование комиссии для группы {{group.name}}</h2>
    <form action="{% url "commission_group_edit" group.id %}" method="POST">
        {% csrf_token %}
        <div class="d-flex flex-column mb-3">
        <label for="сhairman">Председатель комиссии</label>
        <select class="form-select" name="сhairman" id="сhairman">
            {% for member in members %}
                <option value="{{member.id}}">{{member.surname}} {{member.name}} {{member.patronymic}}</option>
            {% endfor %}
        </select>
        <label for="deputy">Заместитель председателя комиссии</label>
        <select class="form-select" name="deputy" id="deputy">
            {% for member in members %}
                <option value="{{member.id}}">{{member.surname}} {{member.name}} {{member.patronymic}}</option>
            {% endfor %}
        </select>
        <label for="secretary">Секретарь</label>
        <select class="form-select" name="secretary" id="secretary">
            {% for member in members %}
                <option value="{{member.id}}">{{member.surname}} {{member.name}} {{member.patronymic}}</option>
            {% endfor %}
        </select>
        <label for="member">Член комиссии</label>
        <select class="form-select" name="member" id="member">
            {% for member in members %}
                <option value="{{member.id}}">{{member.surname}} {{member.name}} {{member.patronymic}}</option>
            {% endfor %}
        </select>
        <button type="submit" class='btn btn-success'>Изменить</button>
    </div>
    </form>
</div>
{% endblock content %}