{% extends "manager_navigation.html" %}

{% block title %}Отчисление группы{% endblock title %}

{% block style %}
<style>
    .container {
        margin-top: 20px;
    }
    .form-group {
        margin: 15px auto;
        width: 50%;
    }
    .btn-container {
        display: flex;
        justify-content: center;
        gap: 10px; /* Расстояние между кнопками */
        margin-top: 20px;
    }
</style>
{% endblock style %}

{% block content %}
<h2 class="text-center mb-4">Формирование приказа на отчисление группы (завершение обучения)</h2>
    <form action="{% url 'expel_group' group_id %}" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="doc_number">Номер документа:</label>
            <input type="text" class="form-control" id="doc_number" name="doc_number" required>
            <div class="invalid-feedback">
                Пожалуйста, введите номер документа.
            </div>
        </div>
        <div class="form-group">
            <label for="date">Дата составления документа:</label>
            <input type="date" class="form-control" id="date" name="date" required>
            <div class="invalid-feedback">
                Пожалуйста, выберите дату документа.
            </div>
        </div>
        <div class="form-group">
            <label for="protocol_id">К протоколу:</label>
            <select class="form-select" name="protocol_id" id="protocol_id" required>
                {% for protocol in protocols %}
                    <option value="{{protocol.id}}">Протокол №{{protocol.number}} от {{protocol.date}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="btn-container">
            <a href="{% url 'group_detail' group_id %}" class="btn btn-secondary">Назад</a>
            <button type="submit" class="btn btn-success">Сформировать</button>
        </div>
        
    </form>
</div>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock content %}