{% extends "student_navigation.html" %}

{% block title %}Мои заявления{% endblock title %}

{% block style %}
<style>
    body {
        background-color: #FFFFFF;
        color: #000000;
    }
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .btn-add {
        background-color: #28a745;
        color: white;
    }
    .btn-add:hover {
        background-color: #218838;
    }
    .btn-cancel {
        background-color: #dc3545;
        color: white;
    }
    .btn-cancel:hover {
        background-color: #c82333;
    }
</style>
{% endblock style %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center mb-4">Мои заявления</h2>

    <!-- Карточки заявлений -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Карточка 1 -->
        {% for statement in statements %}
            <div class="col">
                <div class="card p-3 text-center">
                    <h5 class="card-title">📝 Заявление на {{statement.statement_type}}</h5>
                    <p><strong>📅 Дата подачи:</strong> {{statement.submitting_date}}</p>
                    <p><strong>🔄 Статус:</strong> {{statement.status}}</p>
                    <p><strong>🎓 Курс:</strong> {{statement.course.course_name}}</p>
                    <p><strong>Зачислен в группу:</strong> {{statement.group.name}}</p>
                    <div class="mt-auto">
                        {% if statement.status == "Одобрено" %}
                            <button class="btn btn-cancel w-100" disabled>Отозвать</button>
                        {% elif statement.status == "Отклонено" %}
                            <button class="btn btn-cancel w-100" disabled>Отозвать</button>
                        {% else %}
                        <form action="{% url "student_statements" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="statement_id" value="{{statement.id}}">
                            <button class="btn btn-cancel w-100">Отозвать</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}